<!DOCTYPE html>
<html>

<head>
	<title>details</title>
</head>
<style>
	body {
		<% if (typeof weight !== 'undefined' ){ %>
			background-image: url('/weight.jpg');
		<% } else if (typeof fodder !== 'undefined' ){ %>
			background-image: url('/fodder2.jpg');
		<% } else if (typeof milking !== 'undefined' ){ %>
			background-image: url('/fodder2.jpg');
		<% } else if (typeof reproduction !== 'undefined' ){ %>
			background-image: url('/reproducionInfromation.jpeg');
		<% } %>
		background-repeat: no-repeat;
		background-attachment: fixed;
 		background-size: cover;
	}
	.container {
		text-align: center;
		margin-bottom: 20px;
	}

	.container button {
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		margin-right: 10px;
		cursor: pointer;
	}

	.container button.edit {
		background-color: #4CAF50;
		color: white;
	}

	.container button.add {
		background-color: #2196F3;
		color: white;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 90%;
		direction: rtl;
		margin-left: auto;
  		margin-right: auto;
		background-color:white;
	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: right;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #d4d4d4;
	}
	<% if (typeof reproduction !== 'undefined' ){ %>
			td:nth-child(7),
			td:nth-child(8),
			td:nth-child(9),
			td:nth-child(11) {
				width: 90px;
			}
	<% } %>
</style>

<body>
	<div class="container">
		<% if (typeof weight !== 'undefined' ){ %>
			<h1>سجل الاوزان</h1>
		<% } else if (typeof fodder !== 'undefined' ){ %>
			<h1>سجل استهلاك العلف</h1>
		<% } else if (typeof milking !== 'undefined' ){ %>
			<h1>سجل الحلب</h1>
		<% } else if (typeof reproduction !== 'undefined' ){ %>
			<h1>سجل التناسل</h1>
		<% } %> 
	</div>
	<table>
		<tr>
			<% if (typeof weight !== 'undefined' ){ %>
				<th>كود البقرة</th>
				<th>الوزن</th>
				<th>التاريخ المأخوذ فيه الوزن</th>
				<th></th>
				<th></th>
			<% } else if (typeof fodder !== 'undefined' ){ %>
				<th>كود البقرة</th>
				<th>كمية العلفة المأكولة الكلية</th>
				<th>كمية العلف المركز</th>
				<th>كمية العلفة الخشن</th>
				<th>تاريخ اليوم المستهلك فيه</th>
				<th></th>
				<th></th>
			<% } else if (typeof milking !== 'undefined' ){ %>
				<th>كود البقرة</th>
				<th>كمية اللبن المحلوبة</th>
				<th>طول فترة الجفاف</th>
				<th>ترتيبة موسم الحليب</th>
				<th>نسبة الدهن في اللبن</th>
				<th>وقت الحلب</th>
				<th></th>
				<th></th>
			<% } else if (typeof reproduction !== 'undefined' ){ %>
				<th>كود البقرة</th>
				<th>كود الطلوقة</th>
				<th>عدد مرات التلقيح</th>
				<th>عدد مرات الولادة</th>
				<th>عدد الحركات في اليوم</th>
				<th>عدد مرات  الشياع</th>
				<th>تاريخ الولادة</th>
				<th>تاريخ الشياع</th>
				<th>تاريخ التلقيح</th>
				<th>الكفائة التناسلية</th>
				<th>تاريخ اول شياع بعد الولادة</th>
				<th></th>
				<th></th>
			<% } %>
		</tr>
		<% records.forEach(records => { %>
			<tr>
				<% if (typeof weight !== 'undefined' ){ %>
					<td><%= records.cow_id %></td>
					<td><%= records.weight %> KG</td>
					<td><%= records.measurement_date %></td>
				<% } else if (typeof fodder !== 'undefined' ){ %>
					<td><%= records.cow_id %></td>
					<td><%= records.fodder_amount %> KG</td>
					<td><%= records.concentrated_feed %> KG</td>
					<td><%= records.coarse_fodder %> KG</td>
					<td><%= records.feeding_date %></td>
				<% } else if (typeof milking !== 'undefined' ){ %>
					<td><%= records.cow_id %></td>
					<td><%= records.milk_amount %></td>
					<td><%= records.length_of_dry_period %></td>
					<td><%= records.milk_season_number %></td>
					<td><%= records.fat_percentage %></td>
					<td><%= records.milking_datetime %></td>
				<% } else if (typeof reproduction !== 'undefined' ){ %>
					<td><%= records.cow_id %></td>
					<td><%= records.code_of_pollinated_animal %></td>
					<td><%= records.number_of_pollination %></td>
					<td><%= records.number_of_births %></td>
					<td><%= records.number_of_movement %></td>
					<td><%= records.number_of_estrus %></td>
					<td><%= records.date_of_births %></td>
					<td><%= records.date_of_estrus %></td>
					<td><%= records.date_of_insemination %></td>
					<td><%= records.reproductive_competence %>%</td>
					<td><%= records.date_of_first_ovulation_after_birth %></td>
				<% } %>
				<td>
					<form action="http://localhost:3000/<%=first%>/<%=second%>/update" method="get">
						<input type="hidden" name="id" value="<%= records.id %>" />
						<input type="text" style="display: none;" name="cow_id" value="<%= records.cow_id %>">
						<button type="submit">تعديل</button>
					</form>
				</td>
				<td>
					<form action="http://localhost:3000/<%=first%>/<%=second%>/delete" method="post">
						<input type="text" style="display: none;" name="id" value="<%= records.id %>">
						<input type="text" style="display: none;" name="cow_id" value="<%= records.cow_id %>">
						<button type="submit">مسح</button>
					</form>
				</td>
			</tr>
		<% }) %>
	</table>
</body>
</html>