<!DOCTYPE html>
<html>
<head>
    <title>احصائية اللبن</title>
    <style>
        body{
            background-image: url('/mikingDash.jpeg');
            background-size: cover;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .card {
            width: 200px;
            height: 150px;
            margin: 10px;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 50000px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
            cursor: pointer;
            background-color: #ffffff;
        }
        
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        #lineChart {
            width: 60%;
            height: 60%;
            margin: 20px auto;
            background-color: white;
            border-radius: 10px;
        }
        table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 90%;
		direction: rtl;
		margin-left: auto;
  		margin-right: auto;
		background-color:white;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: right;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .input-box {
        display: none;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
        }
        .calculate-button {
            display: none;
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }


    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>عدد الابقار المحلوبة</h2>
            <p><%= milkingCowsCount %></p>
        </div>
        <div class="card" >
            <h2>كمية اللبن المحلوبة الكلية</h2>
            <p id ="totalAmount"><%= milkingLitersAmount %></p>
        </div>
        <div class="card">
            <h2>اعلى كمية محلوبة</h2>
            <p><%= highestMilkProduction %></p>
            <p>كود البقرة: <%= maxMilkProductionCow  %></p>
        </div>
        <!-- <div class="card" onclick="showMilkingRecords()">
            <h2>جميع البيانات</h2>
        </div> -->
        <div class="card" id="calculateCard" onclick="showInputBox()">
            <h2 >اضغط لحساب الايراد الاجمالي</h2>
        </div>
        
        <div id="inputBox" class="hidden">
            <input type="text" class="input-box" placeholder="Enter the cost" id="costInput">
            <button onclick="calculateCost()" class="calculate-button" id="calculateButton">Calculate</button>
        </div>
    </div>

    <div id="lineChartContainer">
        <canvas id="lineChart"></canvas>
    </div>

    <div id="milkingRecords" style="display: none;">
        <h2 style="text-align:center ;">جميع بيانات الحلب</h2>
        <table>
        <tr>
            <th>كود البقرة</th>
            <th>كمية اللبن المحلوبة</th>
            <th>وقت الحلب</th>
        </tr>
        <% milkingRecords.forEach(function(record) { %>
        <tr>
            <td><%= record.cow_id %></td>
            <td><%= record.milk_amount %> KG</td>
            <td><%= record.milking_datetime %></td>
        </tr>
        <% }); %>
    </table>
    </div>

    <script src="https://fastly.jsdelivr.net/npm/chart.js"></script>

    <script>
        function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
            }            
        const encodedLabel = '<%= label %>';
        const decodedLabel = decodeEntities(encodedLabel);
        const lineChartData = {
            labels: JSON.parse(decodedLabel),
            data: <%= data %>
        };
          console.log(lineChartData)
        // Create the line chart
        const lineChartElement = document.getElementById("lineChart");
        const lineChart = new Chart(lineChartElement, {
            type: 'line',
            data: {
                labels: lineChartData.labels,
                datasets: [
                    {
                        label: 'كمية الحلب',
                        data: lineChartData.data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        // fill: true
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'التاريخ'
                        },
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'كمية الحلب'
                        }
                    }
                }
            }
        });

        function showMilkingRecords() {
            var milkingRecordsDiv = document.getElementById("milkingRecords");
            milkingRecordsDiv.style.display = "block";
        }
        function showInputBox() {
        var calculateCard = document.getElementById("calculateCard");
        var inputBox = document.getElementById("costInput");
        var calculateButton = document.getElementById("calculateButton");

        calculateCard.classList.add("hidden");
        inputBox.style.display = "block";
        calculateButton.style.display = "block";
    }

    function calculateCost() {
        var inputBox = document.getElementById("costInput");
        var calculateCard = document.getElementById("calculateCard");
        var total = document.getElementById("totalAmount");
        var cost = parseFloat(inputBox.value);
        var totalNum = parseFloat(total.innerHTML)
        var calculatedCost = cost * totalNum; // Modify this calculation as per your requirement
        // const elem = document.createElement("p");
        // const node = document.createTextNode("This is total cost." + calculatedCost);
        // elem.appendChild(node);
        // // Display the calculated cost
        // // alert("The calculated cost is: " + calculatedCost);
        // // Display the calculated cost in the card
        // calculateCard.appendChild(elem);
        // Reset the input box
        calculateCard.innerHTML = "<br><br><br>التكلفة الكلية: " + calculatedCost;
        inputBox.value = "";

        // Hide the input box and calculate button
        var inputBoxContainer = document.getElementById("inputBox");
        inputBoxContainer.classList.add("hidden");
    }
    
   
    </script>
</body>
</html>
